<h1>Lost?Found.</h1>
<p>lost some thing ? want and you want to find it ? click here </p>

<%= button_tag "Here"%> <span class="glyphicon glyphicon-search"></span>
<h1>About US</h1>
<p>We are working on our One Month Rails Lost?Found.app with my partner muad</p>
<%= button_tag "more about us" %> 
<%= link_to "here", "#" %>
<%= link_to "Home", root_path %>
<div class="container">
<%= yield %>
</div>